# Ex2 - Getting and Knowing your Data

This time we are going to pull data directly from the internet.
Special thanks to: https://github.com/justmarkham for sharing the dataset and materials.

### Step 1. Import the necessary libraries

In [3]:
import numpy as np
import pandas as pd

### Step 2. Import the dataset from this [address](https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv).

### Step 3. Assign it to a variable called chipo.

In [4]:
url = 'https://raw.githubusercontent.com/justmarkham/DAT8/master/data/chipotle.tsv'
chipo = pd.read_csv(url, sep="\t")

### Step 4. See the first 10 entries

In [5]:
chipo.head(10)

,order_id,quantity,item_name,choice_description,item_price
0,1,1,Chips and Fresh Tomato Salsa,NaN,$2.39
1,1,1,Izze,[Clementine],$3.39
2,1,1,Nantucket Nectar,[Apple],$3.39
3,1,1,Chips and Tomatillo-Green Chili Salsa,NaN,$2.39
4,2,2,Chicken Bowl,"[Tomatillo-Red Chili Salsa (Hot), [Black Beans...",$16.98
5,3,1,Chicken Bowl,"[Fresh Tomato Salsa (Mild), [Rice, Cheese, Sou...",$10.98
6,3,1,Side of Chips,NaN,$1.69
7,4,1,Steak Burrito,"[Tomatillo Red Chili Salsa, [Fajita Vegetables...",$11.75
8,4,1,Steak Soft Tacos,"[Tomatillo Green Chili Salsa, [Pinto Beans, Ch...",$9.25
9,5,1,Steak Burrito,"[Fresh Tomato Salsa, [Rice, Black Beans, Pinto...",$9.25

### Step 5. What is the number of observations in the dataset?

In [6]:
# Solution 1

chipo.shape[0]

4622

In [7]:
# Solution 2

chipo.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4622 entries, 0 to 4621
Data columns (total 5 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   order_id            4622 non-null   int64
 1   quantity            4622 non-null   int64
 2   item_name           4622 non-null   object
 3   choice_description  3376 non-null   object
 4   item_price          4622 non-null   object
dtypes: int64(2), object(3)
memory usage: 180.7+ KB

### Step 6. What is the number of columns in the dataset?

In [9]:
chipo.shape[1]

5

### Step 7. Print the name of all the columns.

In [10]:
chipo.columns

Index(['order_id', 'quantity', 'item_name', 'choice_description',
       'item_price'],
      dtype='object')

### Step 8. How is the dataset indexed?

In [11]:
chipo.index

RangeIndex(start=0, stop=4622, step=1)

### Step 9. Which was the most-ordered item?

In [55]:
c = chipo.groupby('item_name')
d = c.sum()
#c = c.sort_values(['quantity'],ascending = False)
d = d.sort_values(['quantity'], ascending = False)
d.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

In [56]:
c = chipo.groupby('item_name')
c = c.sum()
c = c.sort_values(['quantity'], ascending=False)
c.head(1)

              order_id  quantity
item_name
Chicken Bowl    713926       761

### Step 10. For the most-ordered item, how many items were ordered?

In [59]:
c.head(1).quantity

item_name
Chicken Bowl    761
Name: quantity, dtype: int64

### Step 11. What was the most ordered item in the choice_description column?

In [47]:
c = chipo.groupby('choice_description')
c = c.sum()
c = c.sort_values(['quantity'],ascending = False)
c.head(1)

                    order_id  quantity
choice_description
[Diet Coke]           123455       159

### Step 12. How many items were orderd in total?

In [51]:
c = chipo.quantity.sum()

4972

### Step 13. Turn the item price into a float

#### Step 13.a. Check the item price type

In [53]:
type(chipo.item_price)

pandas.core.series.Series

In [60]:
chipo.item_price.dtype

dtype('O')

#### Step 13.b. Create a lambda function and change the type of item price

In [65]:
dollar = map (lambda i:i[1:-1], chipo.item_price)

In [68]:
d = lambda i:i[1:-1]
chipo.item_price = chipo.item_price.apply(d)
chipo.item_price

0        .3
1        .3
2        .3
3        .3
4       6.9
       ...
4617    1.7
4618    1.7
4619    1.2
4620     .7
4621     .7
Name: item_price, Length: 4622, dtype: object

#### Step 13.c. Check the item price type

In [69]:
chipo.item_price.dtype

dtype('O')

### Step 14. How much was the revenue for the period in the dataset?

In [134]:

floa=lambda i:float(i)
q = chipo.quantity.apply(floa)
p = chipo.item_price.apply(floa)
x = q*p
x.sum()

0        0.3
1        0.3
2        0.3
3        0.3
4       13.8
        ...
4617     1.7
4618     1.7
4619     1.2
4620     0.7
4621     0.7
Length: 4622, dtype: float64

### Step 15. How many orders were made in the period?

In [132]:
chipo.order_id.value_counts().count()

1834

### Step 16. What is the average revenue amount per order?

In [133]:
# Solution 1
x.mean()

1.0444396365209512

In [155]:
# Solution 2

floa=lambda i:float(i)
q = chipo.groupby('order_id').quantity
p = chipo.groupby('order_id')["item_price"]

order_id
1       .3.3.3.3
2            6.9
3          0.9.6
4          1.7.2
5           .2.4
          ...
1830      1.71.2
1831      .2.1.5
1832        .7.4
1833      1.71.7
1834     1.2.7.7
Name: item_price, Length: 1834, dtype: object

### Step 17. How many different items are sold?

In [129]:
chipo.item_name.nunique()

50